.main-button {
    margin: 20px;
    background-color: $blue;
    padding: 10px 50px;
    color: $white;
    border: none;
    font-size: 24px;
}

.contact-button {
    width: 100%;
    margin: 20px auto;
}

.panel-button {
    color: $black;
    text-decoration: underline;
    border: none;
    background: none;
}